<div id="menu-bar">
    <h1> Developers information</h1>
    <ul>
        <li> <a href="#!/home"> HOMe</a></li>
        <li> <a href="#!/devs"> Devs</a></li>
        <li> <a href="#!/contact"> Contact Us</a></li>
    </ul>
    <!--  to create pretty urls: by setting html5 mode to be true. nstead of #/home, we use /home. That would be done in the app.js file in the config using the $locationProvider. Then, go to the index.html file and create a base tag  inside the head tag with href / -->

    <!-- pretty url is not working -->
</div>