<div class="content">
    <h1 class="text-center"> Homepage</h1>

   <random-dev devs="devs" title="'Random Dev'">
        <p> Get a New Dev</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, mollitia, voluptas obcaecati qui dolorem sequi aliquid dignissimos quis odio autem ducimus nihil iusto distinctio laboriosam ex eaque cum. Delectus temporibus nisi tempora harum excepturi, explicabo in vitae consectetur eos beatae?</p>
    </random-dev>

    <dev-role devs="devs" title="'Role of a Dev'"> </dev-role>
</div>